// colors
$color-primary: #7755c5;
$color-primary-light: #ac6fd5c7;
$color-primary-dark: #2a28b4;

// background

$bg-test: #dfd8fa;
$bg-test-2: #a29cbb;
$bg-test-section:#373538;

//  GRID

$grid-row-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;
